.box {
    border: solid 2px tomato;
    padding: top 15px;
    padding: right 10px;
    padding: left 10px;
    padding: bottom 15px;
    width: 600px;
    margin: 20px;
}

.link {
    border: solid 2px green;
}

div {
    display: block;
}

li {
    margin: 10px;
}

p {
    padding: 5px;
}

